In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/femitemiola/Documents/Learning-NLP/NLP-Project/machinelearning/ml-projects/venv/lib/python3.10/site-packages (1.4.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/femitemiola/Documents/Learning-NLP/NLP-Project/machinelearning/ml-projects/venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/femitemiola/Documents/Learning-NLP/NLP-Project/machinelearning/ml-projects/venv/lib/python3.10/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/femitemiola/Documents/Learning-NLP/NLP-Project/machinelearning/ml-projects/venv/lib/python3.10/site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in /Users/femitemiola/Documents/Learning-NLP/NLP-Project/machinelearning/ml-projects/venv/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import spacy
import pandas as pd

In [3]:
df = pd.read_csv("Data/stocks.tsv", sep="\t")
df

,Symbol,CompanyName,Industry,MarketCap
0,A,Agilent Technologies,Life Sciences Tools & Services,53.65B
1,AA,Alcoa,Metals & Mining,9.25B
2,AAC,Ares Acquisition,Shell Companies,1.22B
3,AACG,ATA Creativity Global,Diversified Consumer Services,90.35M
4,AADI,Aadi Bioscience,Pharmaceuticals,104.85M
...,...,...,...,...
5874,ZWRK,Z-Work Acquisition,Shell Companies,278.88M
5875,ZY,Zymergen,Chemicals,1.31B
5876,ZYME,Zymeworks,Biotechnology,1.50B
5877,ZYNE,Zynerba Pharmaceuticals,Pharmaceuticals,184.39M
5878,ZYXI,Zynex,Health Care Equipment & Supplies,438.33M